/* your custom css */

@media (max-width: 480px) {
  .docMainWrapper .wrapper {
    padding:0 20px;
  }

  .navigationSlider .slidingNav ul {
    background-color: #1d2327 !important;
  }

  .navigationSlider .slidingNav ul li a {
    padding: 18px 10px 0 10px !important;
  }

}

@media (max-width: 735px) {
  .docMainWrapper .wrapper{
    padding:0 20px;
  }

  .navigationSlider .slidingNav ul {
    background-color: #1d2327 !important;
  }

  .headerWrapper {
    padding-left:0!important;
  }

  .headerWrapper > header {
    padding-left: 2px!important;
  }

  .fixedHeaderContainer header h2 {
    display: none;
  }

  .fixedHeaderContainer .logo {
    display: block!important;
    margin: 0px auto;
  }

  .navPusher {
    padding-top: 110px!important;
  }

}

* {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fixedHeaderContainer {
  padding: 0;
  margin: 0;
  background: #1d2327;
  height: 60px !important;
}

.headerWrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 60px !important;
}

header {
  height: 60px !important;
  padding: 0px 20px;
  border-bottom: solid #D9D9D9 1px !important;
}

header > a {
  height: 60px !important;
}

header > a > h3 {
  color: #67EAEC !important;
}

pre code {
  display: block;
  margin: 2em 0;
  padding: 25px!important;
  font-size: 0.95em;
  overflow-x: auto;
}

blockquote {
  padding: 20px 30px 20px 20px;
  margin: 20px 0;
  background-color: #E4F9FC;
  border-left: 2px solid #1bcce5;
}

h2.headerTitleWithLogo {
  color: #1d2327!important;
}



.headerTitle {
  width: 0px;
}

.postHeader {
  font-size: 0.65em;
  padding: 0px;
}

.logo {
  height: 22px!important;
}

.navigationWrapper {
  height: 60px !important;
}

.navigationSlider .slidingNav ul li a {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 18px 18px 0 18px;
  height: 60px !important;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover {
  color: #67EAEC !important;
  background: unset;
  text-decoration: none;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #67EAEC;
  background: unset;
  border-bottom: solid 2px #67EAEC;
}

nav.toc .toggleNav .navGroup {
  margin-bottom: 40px;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
  font-size: 0.9em;
  padding: 0 0 10px 0;
  border-bottom: solid 1px #D9D9D9;
}

nav.toc .toggleNav ul {
  padding-left: 0px;
}

nav.toc .toggleNav ul li a {
  font-size: 0.93em;
  padding: 5px 0 10px 0px;
}

nav.toc .toggleNav ul li a.navItemActive {
  color: #1bcce5;
  border-left: solid 3px #1bcce5;
  padding-left: 10px;
}

nav.toc .toggleNav ul li a:hover {
  color: #1bcce5;
}

h1 {
  color: black;
}

h2 {
  color: black!important;
}

a {
  color: #1bcce5;
}

.wrapper {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0 10px;
  margin-bottom: 40px;
}

footer.nav-footer {
  background-color: #131313 !important;
}

footer .fbOpenSource {
  opacity: 1;
}

footer.nav-footer a, footer.nav-footer section {
  color: white !important;
}

footer.nav-footer a:hover {
  color: #67EAEC !important;
}

footer.nav-footer h5 {
  color: #716B6B !important;
}

footer.nav-footer {
  position: relative;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  color: #202020;
  font-size: 15px;
  line-height: 24px;
  background: #808080;
  box-shadow: inset 0 8px 8px -7px rgba(0,0,0,0.1);
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer .sitemap {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 3em;
}

footer .sitemap .nav-home {
  display: table;
  margin: -12px 20px 0 0;
  padding: 20px;
  width: 50px;
  height: 50px;
  opacity: 1 !important;
}

a.nav-home {
  opacity: 1 !important;
}

footer.nav-footer {
  background: white;
}

footer.nav-footer h5 {
  color: rgb(50, 50, 50);
}

footer.nav-footer a, footer.nav-footer section {
  color: rgb(139, 139, 139);
}

footer.nav-footer a:focus, footer.nav-footer a:hover {
  color: rgb(50, 50, 50);
}

footer .report-bugs {
  text-align: center;
}

.contract-doc .contract .base-contracts {
  padding-top: 0;
  padding-bottom: 15px;
}

.contract-doc .contract .description {
  padding-top: 0;
  padding-bottom: 15px;
}

.contract-doc .contract .source,
.contract-doc .contract .author {
  font-size: 16px;
  font-style: italic;
}

.contract-doc .reference .item {
  position: relative;
}

.contract-doc .reference .item .anchor-marker {
  position: absolute;
  top: -80px;
}

.contract-doc .reference .item .body {
  padding: 15px;
}

.contract-doc .reference .item .body hr {
  border: 1px solid #d0d9e033;
}

.contract-doc .item {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 #fafafa;
  padding: 15px 15px 15px 15px;
}

.contract-doc .events ul {
  list-style: none;
  padding-left: 0;
}

.contract-doc .modifiers ul {
  list-style: none;
  padding-left: 0;
}

.contract-doc .functions ul {
  list-style: none;
  padding-left: 0;
}

.reference h4 {
  display:unset;
  font-size: 1em!important;
  border-radius: 25px;
  padding: 5px 10px !important;
}

.event h4 {
  background-color: #DBF7F7!important;
  color: #00A6AB!important;
}

.modifiers h4 {
  background-color: #F7ECF6!important;
  color: #BB55F5!important;
}

.functions h4 {
  background-color: #ECEBFE!important;
  color: #445AA9!important;
}

.contract-doc .events .item,
.contract-doc .modifiers .item,
.contract-doc .functions .item {
  margin-bottom: 20px;
  border: 1px solid #d0d9e0;
}

.contract-doc .events .item dd,
.contract-doc .modifiers .item dd,
.contract-doc .functions .item dd {
  margin-left: 10px;
}

.contract-doc .events .item .name,
.contract-doc .modifiers .item .name,
.contract-doc .functions .item .name {
  background-color: #dee3e9;
  padding: 6px 6px 6px 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.contract-doc .events .description,
.contract-doc .modifiers .description,
.contract-doc .functions .description {
  margin-bottom: 10px;
  line-height: 25px;
}

.contract-doc .events .description p,
.contract-doc .modifiers .description p,
.contract-doc .functions .description p {
  line-height: 25px;
}

.label-modifiers, .label-parameters, .label-return {
  font-weight: 00;
}

article h2 {
  color: black;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  margin: 30px 0 0px 0;
}

article p {
  font-size: 0.95em;
}

article p img, article iframe {
  max-width: 100%;
  display: block;
  margin-left: unset;
  margin-right: unset;
  padding: 10px 0 20px;
}

.container .wrapper article h3 {
  color: black;
  font-size: 1em !important;
  font-weight: 800 !important;
  margin: 40px 0 12px 0;
}

.button {
  margin: 4px;
  border: 1px solid #1bcce5;
  border-radius: 3px;
  color: #1bcce5;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: background 0.3s, color 0.3s;
}

.docs-prevnext {
  border-top: solid 1px #D9D9D9;
  margin-top: 40px;
  padding: 20px 0 ;
}

